*{
  margin:0
}

h1 {
  text-align:center;
  color:rgb(255, 100, 126);
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://osu.ppy.sh/images/backgrounds/page-dark.png)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 125, 144); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 88, 113); 
}



.container{
  position: relative;
  min-width: 350px;
  display:flex;
  flex-direction: column;
}


.container:last-child{
  border-bottom:none;
}

.container:nth-child(odd){
  background:rgb(255, 208, 216);
}


.container:nth-child(even){
  background: rgb(255, 164, 179)
}

.container:nth-child(odd) .pCard .profpicCont .topleft{
  background: rgb(255, 164, 179)
}

.container:nth-child(odd) .toggle{
  background-color: rgb(255, 164, 179)
}

.container:nth-child(even) .pCard .profpicCont .topleft{
  background:rgb(255, 208, 216)
}

.container:nth-child(even) .toggle{
  background-color: rgb(255, 208, 216)
}


.graphSelect{
  margin:10px;
  text-align: center;
}
.graphSelect label{
  padding-left:4px;
  font-size:13px;
}

.Graph{
  margin-left:-10px;
  order:2;
}

.pCard{
  order:1;
  display:flex;
  flex-grow:1;
  flex-wrap:wrap;
  padding-left:10px;
  padding-bottom:10px;
  margin-top: - 10px;
}

.topRow{
  display:flex;
  flex-shrink: 0;
}

.profpicCont{
  margin-top:10px;
  position: relative;
  flex-shrink:0;
  order:1
}
.profpicCont img{
  box-shadow: 1px 3px 7px #7D7D7D;
  width:110px;
  height:110px;
  border-radius:20%;
  order:1;
}

.topleft{
  border-radius: 50%;
  text-align: center;
  width:20px;
  height:20px;
  font-size:14px;
  position: absolute;
  font-weight:bold;
  top:-5px;
  left:-5px;
}

.Stats{
  margin-top:10px;
  order: 2;
  flex-grow:1;
  width:150px;
  margin-left:10px;
}


.toggle{
  border-radius: 50%;
  position: absolute;
  margin-top:5px;
  margin-right:5px;
  right:0px;
  width:20px;
  height:20px;
  outline:none;
}


.Activity{
  margin-top:10px;
  margin-right:10px;
  order:3;
  flex-grow:12;
  width:200px;
  max-height:110px;
  background-color:rgb(255, 228, 228);
  font-size:14px;
  border: dotted 2px;
  border-radius:10px;
  overflow-x: hidden;
  overflow-y: scroll;
}


.Feed{
  padding:5px;
}

.Feed ul{
  list-style-type: circle;
  padding-left:20px;
}

.container .pCard .Activity{
  border-color:rgb(255, 164, 179);
}


.PDisplay{
  min-width: 400px;
  overflow:hidden;
  box-shadow: 1px 3px 7px rgb(173, 173, 173);
  width: 50%;
  min-height:800px;
  margin: auto;
  border-radius:20px;
  background-color:rgb(255, 168, 183);
}

.PInfo{
  min-height:750px;
  height:800px;
  max-height:1700px;
  overflow-y: auto;
}

.SortPlayer{
  border-bottom: solid 1px rgb(255, 255, 255);
  background-color:rgb(255, 168, 183);
  padding:10px;
}

.SortPlayer label{
  font-weight: bold;
  color:#ffffff;
	text-shadow:0px 1px 0px #ff8585;
}

.SortPlayer button{
  outline:none;
  display:inline-block;
  padding:5px 5px;
  border:0.1em solid #ffffff;
  margin:0 4px 2px 0;
  border-radius:1px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Exo 2',sans-serif;
  font-weight:300;
  color:#ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  background-color:rgba(255, 255, 255, 0);
  text-align:center;
  transition: all 0.15s;
}

.SortPlayer button:hover{
  font-weight:bold;
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color:#FFFFFF;
  border-color:#FFFFFF;
}




